@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,400i,600,700');

.body {
  font-family: 'Raleway', sans-serif;
}

.boosh {
    margin: 4px;
    width: 200px;
    padding: 4px;
    /* for testing */
    /*border: 1px solid grey;*/
}


#blaowwie {
  padding-left: 0px;
  /*text-align: left;*/
}

.myhr {
  border-color: green;
  opacity: .25;
  border-width: 3px;
  margin-top: 10px;
  margin-bottom: 14px;
}

body {
  padding: 10px;
  font-size: 12pt;
  font-family: Raleway, sans serif;
  /*line-height: 1.4em;*/
}

code {
  font-size: 10pt;
  font-family: 'Roboto Mono', monospace;
}

h6 {
  font-size: 16pt;
  color: #3a563a;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  /*line-height: 1.4em;*/
}

h5 {
  font-size: 16pt;
  color: #596d59;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  margin-top: 20px;
}

main {
  max-width: 50em;
  /*border: 1px solid grey;*/
  margin: 1em;
}

a {
  color: green;
  opacity: .65;
}

h3 {
  margin-top: 0px;
  /*color: green;
  opacity: .8;*/
}

h4 {
  /*font-weight: bold;*/
  /*font-weight: lighter;*/
  font-size: 18pt;
  color: green;

}

.container-fluid {
  padding: 4px;
}

.nav { 
  margin: 1em;
  /*padding: -20px;*/
  /*border: 1px solid grey;*/
}

.navbar {
  /*border: 1px solid grey;*/
  padding: 0px;
}



.navbar-default {
  /*text-align: left;*/
  /* just for testing, o.w. use transparent */
  /*background-color: #e6ede6; */
  /* border: solid grey; */
  }


/* nav items */
.nav-header:after {
content: "\00A0\25BE";
}

li > ul.tree {
  padding-left: 10px;
}


/* behavior when collapse */
@media (max-width: 300px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-nav {
        float: left !important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: left;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: left;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in {
        display: block !important;
    }
    .collapsing {
        overflow: hidden !important;
    }
}

.navbar-nav li:last-child {
  color: red;
}



